<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/blog.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/" class="text-gray">Pomidorowo</a>
            </div>
            <div>
                <ul class="nav-items">
                    <a href="/blog.html">
                        <li class="nav-link">
                            Pomidory Rzymskie
                        </li>
                    </a>
                    <a href="/blog.html">
                        <li class="nav-link">
                            Pomidory Paprykowe
                        </li>
                    </a>
                    <a href="/blog.html">
                        <li class="nav-link">
                            Pomidory Czekoladowe
                        </li>
                    </a>
                    <a href="/blog.html">
                        <li class="nav-link">
                            Pomidory Czarne
                        </li>
                    </a>
                    <a href="/blog.html">
                        <li class="nav-link">
                            Pomidory Tygrysie
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">

        <div class="hero">

        </div>
        
        <main>
            <h2>Tekst</h2>
            <div class="profile-container">
                <div class="profile">
                    <div class="img-container"></div>
                    <div class="text">
                        <h3>Jakub Eichner</h3>
                        <p>May 14, 2022</p>
                    </div>
                </div>
            </div>
                <article class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque mi, laoreet semper sagittis non, faucibus egestas metus. Quisque vel suscipit mi. Etiam pellentesque volutpat suscipit. In leo nulla, euismod eu porttitor ut, blandit ac felis. Sed quis posuere est, nec gravida sem. Phasellus tortor diam, scelerisque at tincidunt in, molestie nec ipsum. Integer venenatis dignissim fermentum. Suspendisse lacinia iaculis lectus, a pulvinar nibh mollis eu. Suspendisse potenti. Sed ultrices dui eget elementum placerat.</p>
                    <div class="content-img">
                        
                    </div>
                    <p>Fusce et nunc euismod, viverra risus sed, aliquet nisl. Vivamus gravida tortor quis tellus fringilla iaculis vel a orci. Phasellus non odio ullamcorper, ultricies urna eget, vulputate mauris. Aliquam id scelerisque erat. Donec gravida arcu erat, a aliquam lectus pharetra et. Aenean elementum fermentum hendrerit. Suspendisse sit amet pellentesque tortor. Vestibulum gravida non augue in rhoncus. Morbi pellentesque leo quis felis posuere, vitae dictum odio feugiat. Cras ut mi vel odio aliquam condimentum.</p>
                    <p>Nullam vitae dolor elit. Quisque eu eleifend nulla. Aliquam sapien lorem, mollis et vulputate ut, commodo sed velit. Pellentesque non cursus magna. Integer tristique felis eget eros feugiat, nec tristique nisl luctus. Praesent sollicitudin elementum magna, quis condimentum sem. Vivamus vulputate ultricies nulla, sit amet finibus urna ultrices et. Nam id consectetur mauris.</p>
                </article>
        </main>
    </div>


    <div class="articles">
        <div class="article-head">
            <h5>Artykuły</h5>
            <h6>blogowe</h6>
        </div>
        <div class="cards container">
            <div class="card-container one">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Card name</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque mi, laoreet semper sagittis non, faucibus egestas metus. Quisque vel suscipit mi.
                </div>
            </div>
            <div class="card-container two">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Card name</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque mi, laoreet semper sagittis non, faucibus egestas metus. Quisque vel suscipit mi.
                </div>
            </div>
            <div class="card-container three">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Card name</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque neque mi, laoreet semper sagittis non, faucibus egestas metus. Quisque vel suscipit mi. 
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>O nas</h2>
                <p>Na tej stronie możesz dowiedzieć się wszystkiego o pomidorach. Od ich historii, po to jakie są najlepsze na różne dania. Znajdziesz tu także przepisy na dania z pomidorami oraz odpowiedzi na wszystkie twoje pytania dotyczące tego warzywa.</p>
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Daj się zapomidorować</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2022 Jakub Eichner
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>
</body>
</html>