<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Czarne pomidory – przepisy kulinarne, charakterystyka i informacje</title>
    <meta name="Description" CONTENT="Czarne pomidory mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są średniej wielkości i mają kulisty kształt.">

    <link rel="stylesheet" href="/static/css/blog.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/" class="text-gray">Pomidorowo</a>
            </div>
            <div>
                <ul class="nav-items">
                    <a href="/">
                        <li class="nav-link">
                            Pomidory Rzymskie
                        </li>
                    </a>
                    <a href="/pomidory-paprykowe.html">
                        <li class="nav-link">
                            Pomidory Paprykowe
                        </li>
                    </a>
                    <a href="/pomidory-czekoladowe.html">
                        <li class="nav-link">
                            Pomidory Czekoladowe
                        </li>
                    </a>
                    <a href="/czarne-pomidory.html">
                        <li class="nav-link">
                            Pomidory Czarne
                        </li>
                    </a>
                    <a href="/pomidory-tygrysie.html">
                        <li class="nav-link">
                            Pomidory Tygrysie
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">

        <div class="hero"
        style="background: url(/static/Blog-post/tomato-post-3.jpg) 
        no-repeat center center / cover;"
        >

        </div>
        
        <main>
            <h2>Czarne pomidory</h2>
            <div class="profile-container">
                <div class="profile">
                    <div class="img-container"></div>
                    <div class="text">
                        <h3>Jakub Eichner</h3>
                        <p>May 14, 2022</p>
                    </div>
                </div>
            </div>
                <article class="content">
                    <p>Czarny pomidor to nazwa kilku gatunków pomidorów, które różnią się kolorem owoców. Gatunki te to: 'Black Krim', 'Cherokee Purple', 'Paul Robeson', 'Verna', 'Purple Calabash' i 'Black from Tula'. Czarny pomidor jest ceniony ze względu na swój unikatowy, lekko słodkawy smak. Jest on świetnym dodatkiem do dań mięsnych, rybnych i warzywnych. Czarny pomidor można także jeść na surowo, np. w sałatkach. </p>
                    <p>Czarny pomidor jest bogaty w witaminę C, witaminę A, potas, żelazo i wapń. Zawiera także dużo przeciwutleniaczy, które chronią przed chorobami nowotworowymi i chorobami serca. Pomidory te są świetnym dodatkiem do diety osób będących na redukcji. </p>
                    <div class="content-img" style="background: url(/static/Blog-post/tomato-post-4.jpg) 
                    no-repeat center center / cover;"></div>
                    <p>Pomidory te mogą być przyrządzane na wiele sposobów. Można z nich przygotować sałatkę, sos, ketchup, puree lub dusić je z warzywami. </p>
                    <ol>
                    <li>Sałatka z czarnymi pomidorami i fetą</li>
                    <li>Spaghetti Bolognese z czarnymi pomidorami</li>
                    <li>Grilled Chicken z czarnymi pomidorami i warzywami</li>
                    <li>Czarne pomidory zapiekane z serem</li>
                    </ol>
                </article>
        </main>
    </div>


    <div class="articles">
        <div class="article-head">
            <h5>Artykuły</h5>
            <h6>blogowe</h6>
        </div>
        <div class="cards container">
            <a href="/pomidory-paprykowe.html">
            <div class="card-container one">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Pomidory Paprykowe</h4>
                    Pomidory paprykowe mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są większe niż pomidory rzymskie i mają podłużny kształt.
                </div>
            </div>
            </a><a href="/pomidory-czekoladowe.html">
            <div class="card-container two">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Pomidory Czekoladowe</h4>
                    Pomidory czekoladowe mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są większe niż pomidory rzymskie i mają kulisty kształt. Dodatkowo, pomidory te mają lekko słodkawy smak.
                </div>
            </div>
            </a><a href="/pomidory-tygrysie.html">
            <div class="card-container three">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Pomidory Tygrysie</h4>
                    Pomidory tygrysie mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są większe niż pomidory rzymskie i mają podłużny kształt. Dodatkowo, pomidory te mają lekko kwaskowy smak.
                </div>
            </div>
            </a>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>O nas</h2>
                <p>Na tej stronie możesz dowiedzieć się wszystkiego o pomidorach. Od ich historii, po to jakie są najlepsze na różne dania. Znajdziesz tu także przepisy na dania z pomidorami oraz odpowiedzi na wszystkie twoje pytania dotyczące tego warzywa.</p>
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Daj się zapomidorować</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2022 Jakub Eichner
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>
</body>
</html>