<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomidory paprykowe – przepisy kulinarne, charakterystyka i informacje</title>
    <meta name="Description" CONTENT="Pomidory rzymskie mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są średniej wielkości i mają kulisty kształt.">

    <link rel="stylesheet" href="/static/css/blog.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/" class="text-gray">Pomidorowo</a>
            </div>
            <div>
                <ul class="nav-items">
                    <a href="/">
                        <li class="nav-link">
                            Pomidory Rzymskie
                        </li>
                    </a>
                    <a href="/pomidory-paprykowe.html">
                        <li class="nav-link">
                            Pomidory Paprykowe
                        </li>
                    </a>
                    <a href="/pomidory-czekoladowe.html">
                        <li class="nav-link">
                            Pomidory Czekoladowe
                        </li>
                    </a>
                    <a href="/czarne-pomidory.html">
                        <li class="nav-link">
                            Pomidory Czarne
                        </li>
                    </a>
                    <a href="/pomidory-tygrysie.html">
                        <li class="nav-link">
                            Pomidory Tygrysie
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">

        <div class="hero"
        style="background: url(/static/Blog-post/tomato-post-1.jpg) 
        no-repeat center center / cover;"
        >
        </div>
        
        <main>
            <h2>Pomidory paprykowe</h2>
            <div class="profile-container">
                <div class="profile">
                    <div class="img-container"></div>
                    <div class="text">
                        <h3>Jakub Eichner</h3>
                        <p>May 14, 2022</p>
                    </div>
                </div>
            </div>
                <article class="content">
                    <p>Pomidory paprykowe to odmiana pomidorów, która jest bardzo popularna w Europie Środkowej, a także w Ameryce Środkowej i Południowej. Pomidory paprykowe są średniej wielkości i mają kształt kulisty. Skórka pomidora paprykowego jest cienka i gładka, a miąższ jest soczysty i lekko kwaskowaty. Pomidory paprykowe mają bardzo intensywny, słodki i kwaśny smak. Pomidory paprykowe są bardzo bogate w witaminę C, a także w witaminy A i B. Pomidory paprykowe zawierają również dużo potasu, magnezu i fosforu. Pomidory paprykowe są bardzo popularne w kuchniach środkowo- i południowej Europy, a także w Ameryce Łacińskiej. Pomidory paprykowe są dodawane do wielu potraw, takich jak sałatki, sosy, zupy i gulasze. Pomidory paprykowe są również często spożywane na surowo. Pomidory paprykowe są bardzo popularne wśród ogrodników, ponieważ są łatwe w uprawie i wytrzymałe na choroby. Pomidory paprykowe mogą być uprawiane w ogrodach, na balkonach i tarasach.</p>
                    <div class="content-img" style="background: url(/static/Blog-post/tomato-post-2.jpg) 
                    no-repeat center center / cover;"></div>
                    <p>Pomidory paprykowe to rodzaj pomidora, który jest uprawiany w Europie, a pochodzi z Południowej Ameryki. Znane są także jako pomidory chili, ponieważ ich smak jest bardzo ostre i pikantne. Pomidory paprykowe są bardzo popularne w kuchniach śródziemnomorskich, a także w kuchniach azjatyckich. Pomidory te są bardzo bogate w witaminę C i są uważane za jeden z najzdrowszych rodzajów pomidorów. Pomidory paprykowe mają też wiele innych witamin i minerałów, które są bardzo korzystne dla zdrowia.</p>
                </article>
        </main>
    </div>


    <div class="articles">
        <div class="article-head">
            <h5>Artykuły</h5>
            <h6>blogowe</h6>
        </div>
        <div class="cards container">
            <a href="/pomidory-czekoladowe.html">
            <div class="card-container one">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Pomidory Czekoladowe</h4>
                    Pomidory czekoladowe mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są większe niż pomidory rzymskie i mają kulisty kształt. Dodatkowo, pomidory te mają lekko słodkawy smak.
                </div>
            </div>
            </a><a href="/czarne-pomidory.html">
            <div class="card-container two">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Czarne Pomidory</h4>
                    Czarne pomidory mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są średniej wielkości i mają kulisty kształt.
                </div>
            </div>
            </a><a href="/pomidory-tygrysie.html">
            <div class="card-container three">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Pomidory Tygrysie</h4>
                    Pomidory tygrysie mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są większe niż pomidory rzymskie i mają podłużny kształt. Dodatkowo, pomidory te mają lekko kwaskowy smak. 
                </div>
            </div>
            </a>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>O nas</h2>
                <p>Na tej stronie możesz dowiedzieć się wszystkiego o pomidorach. Od ich historii, po to jakie są najlepsze na różne dania. Znajdziesz tu także przepisy na dania z pomidorami oraz odpowiedzi na wszystkie twoje pytania dotyczące tego warzywa.</p>
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Daj się zapomidorować</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2022 Jakub Eichner
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>
</body>
</html>