<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomidory czekoladowe – przepisy kulinarne, charakterystyka i informacje</title>
    <meta name="Description" CONTENT="Pomidory czekoladowe mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są większe niż pomidory rzymskie i mają kulisty kształt. Dodatkowo, pomidory te mają lekko słodkawy smak.">


    <link rel="stylesheet" href="/static/css/blog.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/" class="text-gray">Pomidorowo</a>
            </div>
            <div>
                <ul class="nav-items">
                    <a href="/">
                        <li class="nav-link">
                            Pomidory Rzymskie
                        </li>
                    </a>
                    <a href="/pomidory-paprykowe.html">
                        <li class="nav-link">
                            Pomidory Paprykowe
                        </li>
                    </a>
                    <a href="/pomidory-czekoladowe.html">
                        <li class="nav-link">
                            Pomidory Czekoladowe
                        </li>
                    </a>
                    <a href="/czarne-pomidory.html">
                        <li class="nav-link">
                            Pomidory Czarne
                        </li>
                    </a>
                    <a href="/pomidory-tygrysie.html">
                        <li class="nav-link">
                            Pomidory Tygrysie
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">

        <div class="hero"
        style="background: url(/static/Blog-post/tomato-post-2.jpg) 
        no-repeat center center / cover;"
        >

        </div>
        
        <main>
            <h2>Pomidory czekoladowe</h2>
            <div class="profile-container">
                <div class="profile">
                    <div class="img-container"></div>
                    <div class="text">
                        <h3>Jakub Eichner</h3>
                        <p>May 14, 2022</p>
                    </div>
                </div>
            </div>
                <article class="content">
                    <p>Pomidory czekoladowe, inaczej nazywane pomidorami balsamicznymi, to gatunek pomidora, który uprawiany jest wyłącznie w Włoszech. Zawdzięcza swoją nazwę kolorem – ciemnobrążowemu, przypominającemu czekoladę. Jest on spowodowany zawartością dużej ilości antocyjanów – naturalnych barwników roślinnych. </p>
                    <p>Pomidory czekoladowe są bardzo aromatyczne. Mają słodki, lekko kwaskowaty smak, przypominający balsamico. Są miękkie i soczyste, a ich miąższ jest ciemnobrążowy.</p>
                    <p>Pomidory czekoladowe są bogatym źródłem witaminy C, która jest potrzebna do prawidłowego funkcjonowania organizmu. Zawiera także witaminy A, B i E oraz minerały takie jak wapń, żelazo, fosfor i potas. Pomidory czekoladowe są także bogatym źródłem przeciwutleniaczy, które chronią organizm przed szkodliwym działaniem wolnych rodników.</p>
                    <div class="content-img" style="background: url(/static/Blog-post/tomato-post-3.jpg) 
                    no-repeat center center / cover;"></div>
                    <p>Pomidory czekoladowe mogą być stosowane na wiele sposobów w kuchni. Można je dodawać do sałatek, dań mięsnych, ryb, makaronów i pizzy. Pomidory czekoladowe świetnie komponują się z innymi warzywami, takimi jak bakłażan, cukinia, papryka, cebula i czosnek. Można je także podawać jako dodatek do kanapek lub jako przekąskę.</p>
                    <p>Pomidory czekoladowe przyrządzone w formie chutneyu doskonale smakują z kurczakiem, wieprzowiną lub rybą. Można je także podawać jako dodatek do kanapek lub jako przekąskę.</p>
                    <p>Pomidory czekoladowe mogą być także stosowane jako dodatek do sosów. Doskonale komponują się z innymi warzywami, takimi jak bakłażan, cukinia, papryka, cebula i czosnek. Pomidory czekoladowe przyrządzone w formie chutneyu doskonale smakują z kurczakiem, wieprzowiną lub rybą. </p>
                    <p>Pomidory czekoladowe świetnie komponują się z innymi warzywami, takimi jak bakłażan, cukinia, papryka, cebula i czosnek. Można je także podawać jako dodatek do kanapek lub jako przekąskę.</p>
                </article>
        </main>
    </div>


    <div class="articles">
        <div class="article-head">
            <h5>Artykuły</h5>
            <h6>blogowe</h6>
        </div>
        <div class="cards container">
            <a href="/pomidory-paprykowe.html">
            <div class="card-container one">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Pomidory Paprykowe</h4>
                    Pomidory paprykowe mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są większe niż pomidory rzymskie i mają podłużny kształt.
                </div>
            </div>
            </a><a href="/czarne-pomidory.html">
            <div class="card-container two">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Czarne Pomidory</h4>
                    Czarne pomidory mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są średniej wielkości i mają kulisty kształt.
                </div>
            </div>
            </a><a href="/pomidory-tygrysie.html">
            <div class="card-container three">
                <div class="img-holder">

                </div>
                <div class="card-text">
                    <h4>Pomidory Tygrysie</h4>
                    Pomidory tygrysie mają ciemnoczerwoną skórkę i mięsistą, soczystą pulpę. Są większe niż pomidory rzymskie i mają podłużny kształt. Dodatkowo, pomidory te mają lekko kwaskowy smak. 
                </div>
            </div>
            </a>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>O nas</h2>
                <p>Na tej stronie możesz dowiedzieć się wszystkiego o pomidorach. Od ich historii, po to jakie są najlepsze na różne dania. Znajdziesz tu także przepisy na dania z pomidorami oraz odpowiedzi na wszystkie twoje pytania dotyczące tego warzywa.</p>
            </div>
            <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Daj się zapomidorować</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
        </div>
        <div class="rights flex-row">
            <h4 class="text-gray">
                Copyright ©2022 Jakub Eichner
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>
</body>
</html>